<h1>All Recipes</h1>

<div class="list">
<% @recipes.each do |recipe| %>
  <h1>Title: <%= recipe.title %></h1>
  <p>Chef: <%= recipe.chef %></p>
  <p>Ingredients: <%= recipe.ingredients %></p>
  <p>Instructions: <%= recipe.instructions %></p>
  <p>Prep Time: <%= recipe.prep_time %></p>
  <br>
<% end %>
</div>