<h1>Cookbook App</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h2><%= link_to recipe.title, "/recipes/#{recipe.id}" %></h2>
        <h3>By: <%= recipe.chef %></h3>
        <h3>Ingredients: <%= recipe.ingredients %></h3>
        <h3>Instructions: <%= recipe.instructions %></h3>
        <a href="/recipes/<%= recipe.id %>"><%= image_tag recipe.image %></a>
        <br>
      </div>
    </div>
  <% end %>
</div>