<h1><%= @recipe.title %></h1>
<h3>By: <%= @recipe.chef %></h3>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Instructions: <%= @recipe.instructions %></h4>

<h5><%= link_to 'Edit', "/recipes/#{@recipe.id}/edit" %></h5>
<h5><%= link_to "Delete", "/recipes/#{@recipe.id}", method: :delete %></h5>

