<h1><%= @recipe.title %></h1>
<h3>By: <%= @recipe.chef %></h3>
<h4>Ingredients: <%= @recipe.ingredients %></h4>
<h4>Instructions: <%= @recipe.instructions %></h4>

<h5><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></h5>