<h1>Best Recipe</h1>

<h2>Title: <%= @recipe.title %></h2>
<p>Chef: <%= @recipe.chef %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Instructions: <%= @recipe.instructions %></p>
<p>Prep Time: <%= @recipe.prep_time %></p>